.editor {
  &__konvajs {
    .konvajs-content {
      background-color: #212121;
    }
  }

  &__row {
    margin-bottom: 10px;
  }

  &__button {
    width: 130px;
  }

  &__button + &__button {
    margin-left: 16px;
  }

  &__compare_card {
    .ant-card-extra,
    .ant-card-head-title {
      padding: 10px 0px;
    }

    .ant-card-body {
      padding: 10px 10px;
    }
  }
}
