.header {
  padding: 0;

  &__trigger {
    color: $light-color;
    font-size: 18px;
  }
}

.header-user-dropdown {
  &__text {
    color: $light-color;
    margin-right: 20px;
  }

  &__icon {
    font-size: 18px !important;
  }
}
