$border-color: #E77C81;
$footer-bottom-color: #281D1A;

.footer-top {
  background: $footer-color;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: 40px 0;
  margin-top: 20px;

  .footer-menu {
    background: transparent;

    &--last {
      border-right: none;
    }

    a {
      color: $light-color;
    }
  }
}

.footer-bottom {
  background: $footer-bottom-color;
  padding: 20px 0;
  color: $light-color;
  font-size: 18px;

  p {
    margin-bottom: 0;
  }
}
