.ant-layout-sider-zero-width-trigger {
  top: 11px;
  background: $sidebar-toggle-color;
}

.form-item-clear-last {
  .ant-form-item:last-child {
    margin-bottom: 0px;
  }
}

.popover-clear-pd {
  .ant-popover-inner-content {
    padding: 0px;
  }
}
