$primary-color: #007BFF;
$secondary-color: #6C757D;
$success-color: #28A745;
$danger-color: #DC3545;
$warning-color: #FFC107;
$info-color: #17A2B8;
$dark-color: #333;
$dark-blur-color: #001529;
$light-color: #fff;

$header-color: #000;
$footer-color: #DBB631;
$list-item-color: #fffcdf;
$list-item-title-color: #fb3535;
$dark-yellow-color: #FFC107;
$light-yellow-color: #f3e266;
$sidebar-color: #DDDBDB;
$sidebar-toggle-color: #6a7f9a;
