* {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol, ul {
  list-style: none;
}

a {
  color: $dark-color;
}

/* main layout */
html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  color: $dark-color;
  background: $light-color;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-color;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* BUTTON */
.btn {
  color: $light-color;
}

.btn-primary {
  background: $primary-color;
}

.btn-secondary {
  background: $secondary-color;
}

.btn-success {
  background: $success-color;
}

.btn-danger {
  background: $danger-color;
}

.btn-warning {
  background: $warning-color;
}

.btn-info {
  background: $info-color;
}

.img-fluid {
  width: 100%;
  height: auto;
}
