.vpc-root {
  min-height: 0px;
  height: 100%;
}

.standard-page {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1 1 1px;

  &__content {
    margin: 16px 16px;
    padding: 16px;
    background: $light-color;
    min-height: calc(100% - 99px);
  }
}

.page-container {
  &__title {
    border-bottom: 1px solid #ccc;
  }
}
