// hiding certain elements at full size
.header .container.mobile {
  display: none;
}

// mobile
@media only screen and (max-width: $mobile-width) {
  .header {
    .container, .menu-control {
      display: none;

      &.mobile {
        display: block;
      }
    }
  }
}
