body {
  overflow-y: hidden;
  background-color: #f8f8f8 !important;
}

.login-page {
  @include box-shadow($border-shadow);
  @include transform(translate(-50%, -50%));
  border-top: 3px solid orange;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 320px;
  padding: 36px;

  &__logo {
    @include justify-content(center);
    @include flex-display();
    @include row-mb();
    cursor: pointer;

    span {
      vertical-align: text-bottom;
      font-size: 16px;
      text-transform: uppercase;
      display: inline-block;
      font-weight: 700;
      color: #1890ff;
    }
  }
}
