.notfound-page {
  position: relative;
  height: 100vh;
}

.notfound-container {
  @include transform(translate(-50%, -50%));
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;

  h2 {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    color: #232323;
  }

  p {
    color: #787878;
    font-weight: 300;
  }

  a {
    @include transition(0.2s all);
    display: inline-block;
    padding: 12px 30px;
    font-weight: 700;
    background-color: #f99827;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }
  }
}

.notfound-404 {
  height: 220px;

  h1 {
    font-size: 175px;
    font-weight: 700;
    margin: 0px;
    color: #232323;

    span {
      @include transform(scale(1.4));
      display: inline-block;
      width: 120px;
      height: 120px;
      background-image: url('/assets/img/emoji.png');
      background-size: cover;
      z-index: -1;
    }
  }
}

@media only screen and (max-width: 767px) {
  .notfound-404 {
    height: 115px;

    h1 {
      font-size: 86px;

      span {
        width: 86px;
        height: 86px;
      }
    }
  }
}
