.login-remember-me {
  span {
    color: $dark-color;
  }
}

.login-form {
  &__button {
    width: 100%;
  }

  &__register,
  &__forgot {
    color: #ccc;
    font-size: 12px;
  }

  &__register {
    padding-bottom: 10px;
  }
}
